<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HN Follower</title>
    <link href="/static/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" id="app">
      <div class="page-header">
	<h1>HN Follower</h1>
      </div>
      <div class="tabbable tabs-left">
          <form id="add-user" class="form-inline">
          <input type="text" class="input-small"
                 placeholder="username">
          <button type="submit" class="btn">Follow user</button>
        </form>
	<ul class="span3 nav nav-tabs" id="user-list">
          {% for user in users %}
          <li>
            <a href="#{{ user }}" class="user" data-toggle="tab">{{ user }}</a>
            <a class="destroy"></a>
          </li>
          {% end %}
	</ul>
	<div class="tab-content well">
	  <div class="tab-pane" id="pg">
	    <ul>
              <li class="comment">Hello I like Lisp.</li>
              <li class="comment">You should put startup</li>
            </ul>
	  </div>
	</div>
      </div>
    </div>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/backbone/underscore.js"></script>
    <script src="/static/backbone/backbone.js"></script>
    <script src="/static/js/comment_view.js"></script>
    <!-- Templates -->
    <script type="text/template" id="user-template">
      <a href="#<%= name %>" class="user" data-toggle="tab"><%= name %></a>
      <a class="destroy"></a>
    </script>
  </body>
</html>
